/* style.css */

body {
	margin: 0;
	padding: 0;

	background-color: #fFfFfF;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header {
	background-color: #ffffff;
	color: #a0a0a0;
	text-align: left;
	padding: 1em;
}

nav {
	background-color: #009fe3;
	top: 0;
}

nav ul {
	list-style-type: none;
	margin: 0 100px;
	padding: 0;
	display: flex;
	justify-content: right;
}

nav #spacer {
	flex: 1;
}

nav li {
	margin: 0;
}

nav a {
	text-decoration: none;
	color: #fff;
	padding: 1em;
	display: block;
	transition: background-color 0.3s ease;
}

nav a:hover {
	background-color: #40cfff;
}

main {
	background-color: #fff;


  height: 100%; /* or any specific height */
}

#content {
	height: 100%; /* or any specific height */
}

#content h2 {
	color: #009fe3;
  margin: 0;
}

#content a {
	text-decoration-line: underline;
  text-decoration-style: dotted;
	width: 100%
}

#content img {
	max-width: 250px;
	max-height: auto;

	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	border: 3px solid #009fe3;
}

#content figure {
  text-align: center;
  font-size: smaller;
  text-indent: 0;
}

#page {
	margin: 20px;

	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 10px;
}

.left {
	margin-right: 10px;
	margin-top:   5px;
}

.right {
	margin-left: 10px;
	margin-top:  5px;
}

#text {
	padding: 10px 10px 10px 10px;
  line-height: 1.5em;
}

#bottom-center
{
	/* horizontal centering for whole bottom container */
	display: grid;
  grid-template-rows: 1fr;
	justify-content: center;	
}

#bottom-page {
	display: grid;
  grid-template-columns: 1fr 1fr;
	column-gap: 30px;

	width: 75%;
  margin: 10px 10px 10px 150px;

  line-height: 1.5em;
  text-align: left;
}

/* Media query for tablets and smaller screens */
@media (orientation: portrait) {
  #page {
    grid-template-columns: 1fr;
  }

	.left {
		margin: 0px;
		margin: 0px;
	}
	
	.right {
		margin: 0px;
		margin: 0px;
	}
	
  #bottom-page{
    grid-template-columns: 1fr;
		width: 90%;
		margin: 10px 10px 10px 10px;
  }
}


@media (max-width: 768px) {
  #page {
		grid-template-columns: 1fr;
  }

	.left {
		margin-top: 0px;
		margin-right: 0px;
	}
	
	.right {
		margin-top: 0px;
		margin-left: 0px;
	}

	#bottom-page{
    grid-template-columns: 1fr;
		width: 90%;
		margin: 10px 10px 10px 10px;
		}
}

/*
@media (max-width: 480px) {
  #page {
    grid-template-columns: 1fr;
  }

	.left {
		margin-top: 0px;
		margin-right: 0px;
	}
	
	.right {
		margin-top: 0px;
		margin-left: 0px;
	}

	#bottom-page{
   grid-template-columns: 1fr;
	 width: 90%;
	 margin: 10px 10px 10px 10px;
	}
}
*/

footer {
	clear: both;
	color: #fff;
	background-color: #009fe3;
}

#copyright {
	display: flex;
	justify-content: right;
	margin: 0 100px;
}


