/* style.css */

body {
	margin: 0;
	padding: 0;

	background-color: #fFfFfF;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header {
	background-color: #ffffff;
	color: #a0a0a0;
	text-align: left;
	padding: 10px 10px 10px 200px
}

nav {
	top: 0;
  background-image: linear-gradient(30deg,#009fe3,#005e62);
}

nav ul {
	list-style-type: none;
	margin: 0 100px;
	padding: 0;
	display: flex;
	justify-content: right;
}

nav #spacer {
	flex: 1;
}

nav li {
	margin: 0;
}

nav a {
	text-decoration: none;
	color: #fff;
	padding: 1em;
	display: block;
	transition: background-color 0.3s ease;
}

nav a:hover {
	background-color: #40cfff;
}

main {
	background-color: #fff;

  height: 100%; /* or any specific height */
}

#content {
	height: 100%; /* or any specific height */
}

#content h2 {
	color: #009fe3;
  margin: 0;
}

#content a {
	text-decoration-line: underline;
  text-decoration-style: dotted;
	width: 100%
}

.left img {
	max-width: 250px;

	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	border: 3px solid #009fe3;
}

.right img {
	max-width: 250px;

	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	border: 3px solid #005e62;
}

#content figure {
  text-align: center;
  font-size: smaller;
  text-indent: 0;
	margin: 0px;
}

img {
	max-width: 250px;

	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	border: 3px solid #009fe3;
}

#top-center {
	/* horizontal centering for whole top container */
	display: grid;
	grid-template-rows: 1fr;
	justify-content: center;	
}

#top-page {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 10px;

	margin: 20px auto 20px auto;
	width: 90%;
}

.left {
	margin-right: 10px;
	margin-top:   5px;
}

.right {
	margin-left: 10px;
	margin-top:  5px;
}

#text {
	padding: 10px 0px 10px 0px;
  line-height: 1.5em;
}

#middle
{
  width: 100%;
  padding: 1.5em 0 0 0;
  background-image: linear-gradient(30deg,#009fe3,#005e62);
}

#bottom-center
{
	/* horizontal centering for whole bottom container */
	display: grid;
  grid-template-rows: 1fr;
	justify-content: center;	
}

#bottom-page {
	display: grid;
  grid-template-columns: 1fr 1fr;
	column-gap: 30px;

	width: 75%;
  margin: 10px auto 10px auto;

  line-height: 1.5em;
  text-align: left;
}

/* Media query for tablets and smaller screens */
@media (orientation: portrait) {
  #top-page {
    grid-template-columns: 1fr;
  }

	header {
		padding: 5%;
	}

	.left {
		margin: 0px;
		margin: 0px;
	}
	
	.right {
		margin: 0px;
		margin: 0px;
	}
	
  #bottom-page{
    grid-template-columns: 1fr;
		width: 90%;
		margin: 10px 10px 10px 10px;
  }
}


@media (max-width: 1000px) {
	header {
		padding: 5%;
	}

	#content img {
		width: 150px;
		max-width: 150px;
	}

	.left {
		margin-top: 0px;
		margin-right: 0px;
	}
	
	.right {
		margin-top: 0px;
		margin-left: 0px;
	}

	#bottom-page{
    grid-template-columns: 1fr;
		width: 90%;
		margin: 10px 10px 10px 10px;
		}
}


@media (max-width: 800px) {
  #top-page {
		grid-template-columns: 1fr;
  }

	header {
		padding: 5%;
	}

	#content img {
		width: 150px;
		max-width: 150px;
	}

	.left {
		margin-top: 0px;
		margin-right: 0px;
	}
	
	.right {
		margin-top: 0px;
		margin-left: 0px;
	}

	#bottom-page{
    grid-template-columns: 1fr;
		width: 90%;
		margin: 10px 10px 10px 10px;
		}
}

footer {
	clear: both;
	color: #fff;
/*
	background-color: #009fe3;
  background-image: linear-gradient(135deg,rgba(0,0,0,.5),rgba(255,255,255,0)),linear-gradient(48deg,#005e62,#369057);
  background-image: linear-gradient(135deg,rgba(0,0,0,.5),rgba(255,255,255,0)),linear-gradient(48deg,#005e62,#009fe3);
  */
  background-image: linear-gradient(30deg,#009fe3,#005e62);
}

#copyright {
	display: flex;
	justify-content: right;
	margin: 0 100px;
}


