/* style.css */

body {
	background-color: #fFfFfF;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
  margin: 0;
  padding: 0;

	display: flex;
	flex-direction: column;
}

header {
	padding: 20px 10px 20px 200px;

	background-color: #ffffff;
	color: #909090;
	text-align: left;

  font-family: Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
}

nav {
  background-color: #009fe3;
}

nav ul {
	list-style-type: none;
	margin: 0 100px;
	padding: 0;
	display: flex;
	justify-content: right;
}

nav #spacer {
	flex: 1;
}

nav li {
	margin: 0;
}

nav a {
	text-decoration: none;
	color: #fff;
	padding: 1em;
	display: block;
	transition: background-color 0.3s ease;
}

nav a:hover {
	background-color: #40cfff;
}

main {
	background-color: #fff;
  flex: 1 0 auto; /* Allows the content area to grow and shrink */
}

#content h2 {
	color: #009fe3;
  text-align: left;
}

#content h3 {
  text-align: left;
}

#content a {
	text-decoration-line: underline;
  text-decoration-style: dotted;
	width: 100%;
}

#content figure {
  text-align: center;
  font-size: smaller;
  text-indent: 0;

	margin: 35px auto 35px 5px;
	padding: 10px 15px 10px 15px;
}

#content img {
	max-width: 250px;

	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	border: 3px solid #009fe3;
}


#text {
	margin: 0px auto 0px auto;

	padding: 10px 15px 10px 15px;
  line-height: 1.5em;
}


#top-page {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	column-gap: 10px;

	margin: 0px auto 0px auto;

	text-align: justify;
	background-color: white;
	color: black;
}

#row2, #row4 {
	background-color: #009fe3;
	color: white;

	display: grid;
	column-gap: 10px;
}

#row4 h2 {
	color: white;
}

#row2 {
	grid-template-columns: 1fr;
	height: 400px;
}

#row2 #text {
	border-radius: 1.5rem;
	background-color: white;
	color: black;
	width: 75%;
	height: 75%;
	margin-top: auto;
	margin-bottom: auto;

}

#row3 {
	background-color: white;
	color: black;

	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 10px;
}

#row4 {
	grid-template-columns: 1fr 1fr;
}

footer {
	clear: both;
	color: #fff;
	background-color: #009fe3;

  flex-shrink: 0;
  width: 100%;
}

#copyright {
	display: flex;
	justify-content: right;
	margin: 0 100px;
}

/* Media query for tablets and smaller screens */
@media (orientation: portrait) {
	header {
		padding: 5%;
	}
	
	#content figure {
		margin: 5px auto 5px 5px;
		padding: 5px 15px 5px 15px;
	}
	
  #top-page {
  	margin: 5px auto 5px auto;
	  grid-template-columns: 1fr;
  }

  #row2, #row3, #row4{
    grid-template-columns: 1fr;
  }
}


@media (max-width: 1000px) {
	header {
		padding: 5%;
	}

	#content img {
		width: 150px;
		max-width: 150px;
	}

	#content figure {
		margin: 5px auto 5px 5px;
		padding: 5px 15px 5px 15px;
	}

	#top-page {
		margin: 5px auto 5px auto;
	  grid-template-columns: 1fr 2fr;
	}

  #row2, #row3, #row4{
    grid-template-columns: 1fr;
		margin: 5px auto 0px auto;
  }
}


@media (max-width: 800px) {
	header {
		padding: 5%;
	}

	#content img {
		width: 150px;
		max-width: 150px;
	}

	#content figure {
		margin: 5px auto 5px 5px;
		padding: 5px 15px 5px 15px;
	}

  #top-page {
		margin: 5px auto 0px auto;
		grid-template-columns: 1fr;
  }

  #row2, #row3, #row4{
		margin: 5px auto 0px auto;
    grid-template-columns: 1fr;
  }
}

